{{set . "title" "Helm Charts"}}
{{template "header.html" .}}

<header>
	 <div class="topnav">
  <a href="/">Home</a>
  <a href="/App/Helm">Helm Charts</a>
  <a class="active" href="/App/Contact">Contact</a>
  <a href="/App/About">About</a>
	 </div>
</header>
<br/>
<br/> <br/>

<center> 
	<h3>
	If you would like to <i>contribute</i> or fix a bug that you have faced.<br/>
	And for any <i>questions</i> or/and <i>concerns</i>, please open an issue. <br/> 
	</h3>

</center>


<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
